@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url('../../public/font/Ubuntu-Bold.eot');
    src: url('../../public/font/Ubuntu-Bold.eot?#iefix')
            format('embedded-opentype'),
        url('../../public/font/Ubuntu-Bold.woff') format('woff'),
        url('../../public/font/Ubuntu-Bold.woff2') format('woff2'),
        url('../../public/font/Ubuntu-Bold.ttf') format('truetype'),
        url('../../public/font/Ubuntu-Bold.otf') format('opentype');
}
