@import './styles/screen';

.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.introduce-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 60px;
    box-sizing: border-box;
}

.introduce-main {
    font-family: 'ubuntu';
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;

    .text-wrap {
        height: 102px;
        overflow: hidden;
        display: flex;

        .parisienne {
            font-family: 'parisienne';
            color: #ffffff;
        }

        .david {
            color: #0afdd8;
            cursor: pointer;
        }
    }
}

.introduce-sub {
    display: flex;
    font-family: 'ubuntu';
    font-weight: 300;
    font-size: 14px;
    color: #8d8d8d;

    .introduce-sub-item {
        overflow: hidden;
    }
}

.picture-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;

    .mainIMG {
        border-top-left-radius: 5000px;
        border-bottom-left-radius: 5000px;
        filter: opacity(0.4);

        width: 700px;
        height: inherit;
    }
}
