@import '../../../styles/screen';

.wrap {
    width: 100%;
    height: 100%;
    // filter: drop-shadow(7px 1px 2px rgba(50, 50, 0, 0.5));
    display: flex;
    flex-direction: column;
}

/* 사이드 바 컨테이너 */
.side-container {
    width: 100%;
    height: 100%;
    background-color: #181818;

    @include responsive(tab_vert) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    /*로고 박스*/
    .logo-box {
        width: 100%;
        height: 100px;
        background-color: #070707;
        position: relative;
        z-index: 99999;

        @include responsive(tab_vert) {
            width: 60px;
            height: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            transition: all 170ms ease-in-out;
            clip-path: polygon(100% 0%, 0% 0%, 0% 0%, 0% 100%);
            top: 0;
            left: 0;
            z-index: -1;
        }

        &:hover {
            &::after {
                background-color: #2f2f2f;
                clip-path: polygon(100% 100%, 100% 0%, 0% 0%, 0% 100%);
                opacity: 0.8;
            }
        }

        .logo {
            width: 100%;
            height: 72%;
            background-image: url('../../../../public/img/logo.png');
            background-size: 62px 62px;
            background-repeat: no-repeat;
            background-position: 50% 100%;

            @include responsive(tab_vert) {
                width: 40px;
                height: 40px;
                background-size: 100% 100%;
            }
        }

        .logo-title {
            color: #dfdfdf;
            height: calc(100% - 72%);
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            font-family: 'Ubuntu';
            font-weight: bold;
            font-size: 12px;

            @include responsive(tab_vert) {
                display: none;
            }
        }
    }

    .desktop-menus {
        width: 100%;
        height: calc(100% - 300px);
        display: block;

        @include responsive(tab_vert) {
            display: none;
        }

        /*메뉴 박스*/
        .menu-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .menu-item {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                user-select: none;

                .title {
                    transform: rotate3d(0, 1, 0, 90deg);
                    transition: transform 250ms ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    font-family: 'ubuntu';
                    font-weight: 100;
                    font-size: 14px;
                    opacity: 0;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    transform: rotate3d(0, 1, 0, 0deg);
                    transition: transform 250ms ease-in-out;
                    position: absolute;
                }

                &.active {
                    .home {
                        background-image: url('../../../../public/img/sidebar/home_active.svg');
                    }

                    .about {
                        background-image: url('../../../../public/img/sidebar/about_active.svg');
                    }
                    .history {
                        background-image: url('../../../../public/img/sidebar/history_active.svg');
                    }
                    .blog {
                        background-image: url('../../../../public/img/sidebar/blog_active.svg');
                    }
                    .contact {
                        background-image: url('../../../../public/img/sidebar/contact_active.svg');
                    }
                    .portfolio {
                        background-image: url('../../../../public/img/sidebar/portfolio_active.svg');
                    }
                }

                &:not(.active) {
                    cursor: pointer;

                    &:hover {
                        .title {
                            transform: rotate3d(0, 1, 0, 0deg);
                            color: #08fdd8;
                            opacity: 1;
                        }

                        .icon {
                            transform: rotate3d(0, 1, 0, 90deg);
                        }
                    }

                    .home {
                        background-image: url('../../../../public/img/sidebar/home.svg');
                    }

                    .about {
                        background-image: url('../../../../public/img/sidebar/about.svg');
                    }
                    .history {
                        background-image: url('../../../../public/img/sidebar/history.svg');
                    }
                    .blog {
                        background-image: url('../../../../public/img/sidebar/blog.svg');
                    }
                    .contact {
                        background-image: url('../../../../public/img/sidebar/contact.svg');
                    }
                    .portfolio {
                        background-image: url('../../../../public/img/sidebar/portfolio.svg');
                    }
                }
            }
        }

        /*sns 박스*/
        .sns-box {
            width: 100%;
            height: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .sns-item {
                width: 100%;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                user-select: none;
                cursor: pointer;

                .title {
                    transform: rotate3d(0, 1, 0, 90deg);
                    transition: transform 250ms ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    font-family: 'ubuntu';
                    font-weight: 100;
                    font-size: 14px;
                    opacity: 0;
                    text-align: center;
                }

                .icon {
                    width: 24px;
                    height: 24px;
                    background-size: 24px 24px;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    transform: rotate3d(0, 1, 0, 0deg);
                    transition: transform 250ms ease-in-out;
                    position: absolute;
                }

                &:hover {
                    .title {
                        transform: rotate3d(0, 1, 0, 0deg);
                        color: #08fdd8;
                        opacity: 1;
                    }

                    .icon {
                        transform: rotate3d(0, 1, 0, 90deg);
                    }
                }

                .kakao {
                    background-image: url('../../../../public/img/sidebar/kakao.svg');
                }
                .insta {
                    background-image: url('../../../../public/img/sidebar/instagram.svg');
                }
                .linkedin {
                    background-image: url('../../../../public/img/sidebar/linkedin.svg');
                }
                .rss {
                    background-image: url('../../../../public/img/sidebar/rss.svg');
                }
            }
        }
    }
}

.menu-btn-wrap {
    width: 60px;
    height: 60px;
    display: none;

    @include responsive(tab_vert) {
        display: block;
    }

    .menu-btton {
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgba($color: #000000, $alpha: 0);
        width: 100%;
        height: 100%;

        &.close {
            transform: rotate(360deg);
            transition: transform 250ms ease-in-out;
            background-image: url('../../../../public/img/sidebar/close.svg');
        }

        &.menu {
            transform: rotate(0deg);
            transition: transform 250ms ease-in-out;
            background-image: url('../../../../public/img/sidebar/menu.svg');
        }
    }
}

.menu-wrap {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    top: 60px;
    background-color: rgba($color: #181818, $alpha: 1);
    animation-fill-mode: forwards;
    z-index: 9999;
    opacity: 1;
    display: none;

    @include responsive(tab_vert) {
        display: block;
    }

    &.show {
        transform: translate(0%, 0%);
        transition: transform 500ms ease-in;
    }

    &.hide {
        transform: translate(0%, 100%);
        opacity: 0;
        transition: opacity 200ms ease-in;
    }

    // &.init {
    //     opacity: 0;
    // }

    .menu-item {
        width: 100%;
        height: 40px;
    }
}
