@import '../../styles/screen';

/* 전체를 감싸는 부분 */
.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #1d1d1d;

    @include responsive(tab_vert) {
        display: flex;
        flex-direction: column;
    }
}

/* 사이드 바 부분 */
.sidebar-wrap {
    width: 80px;
    height: 100%;

    @include responsive(tab_vert) {
        width: 100%;
        height: 60px;
    }
}

/* Main Title 부분 */
.main-title-wrap {
    width: calc(100% - 80px);
    height: 100%;

    @include responsive(tab_vert) {
        width: 100%;
        height: calc(100% - 60px);
    }

    .main-title-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-title {
        font-family: 'Ubuntu';
        font-weight: bold;
        font-size: 68px;
        color: #fff;

        @include responsive(tab_vert) {
            font-weight: 600;
            font-size: 46px;
        }

        @include responsive(phone) {
            font-weight: 600;
            font-size: 34px;
        }
    }
}

/* Children 부분 */
.children-wrap {
    width: 100%;
    height: 100%;
}
