.wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    background-color: #fffff3;
}

.sidebar-wrap {
    width: 80px;
    height: 100%;
}
.contents-wrap {
    width: calc(100% - 80px);
    height: 100%;

    // 임시
    background-color: #1d1d1d;
}
